<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

    <!-- Display Name -->
    <display-name>RestaurantApp</display-name>

    <!-- ErrorSubmissionServlet to handle error form submissions -->
    <servlet>
        <servlet-name>ErrorSubmissionServlet</servlet-name>
        <servlet-class>controller.ErrorSubmissionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ErrorSubmissionServlet</servlet-name>
        <url-pattern>/submit</url-pattern>  <!-- To show add event form -->
        <url-pattern>/form</url-pattern>  <!-- To handle new event insertion -->
        <url-pattern>/confirmation</url-pattern>  <!-- To show edit event form -->
        <url-pattern>/submitError</url-pattern>  <!-- To show edit event form -->
        <url-pattern>/error/dashboard</url-pattern>  <!-- To handle return to dashboard -->
      </servlet-mapping>

    <!-- FeedbackSubmissionServlet to handle feedback form submissions -->
    <servlet>
        <servlet-name>FeedbackSubmissionServlet</servlet-name>
        <servlet-class>controller.FeedbackSubmissionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FeedbackSubmissionServlet</servlet-name>
        <url-pattern>/submitFeedback</url-pattern> <!-- URL pattern for handling feedback submissions -->
    </servlet-mapping>

</web-app>
